<br />
    <h2 class="text-center">เเก้ไขข้อมูล</h2>
<br />
<div class="row">
    <div class="col-md-3">
    </div> 
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
            <!-- <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" > -->
                <div>
                    <div class="form-group">
                        <label for="CITIZEN_ID">เลขที่บัตรประชาชน</label>
                        <input type="text" name="CITIZEN_ID" [(ngModel)]="userMo.CITIZEN_ID" autocomplete="off" class="form-control input-sm" placeholder="เลขที่บัตรประชาชน">
                        <p *ngIf="CITIZEN_ID_Validators == true">{{CITIZEN_ID_Validators_value}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="TITLE">คำนำหน้าชื่อ</label>
                            <select  name="TITLE" [(ngModel)]="userMo.TITLE" autocomplete="off" class="form-control input-sm" >
                                <option value="" selected disabled>คำนำหน้าชื่อ</option>
                                <option value="1">นาย</option>
                                <option value="2">นาง</option>
                                <option value="3">นางสาว</option>
                            </select>
                            <p *ngIf="TITLE_Validators == true">{{TITLE_Validators_value}}</p>
                        </div>
                    </div> 
                    <div class="col-md-6">   
                        <div class="form-group">
                            <label for="SEX">เพศ</label>
                            <select name="SEX" [(ngModel)]="userMo.SEX" autocomplete="off" class="form-control input-sm">
                                <option value="" selected disabled>เพศ</option>
                                <option value="M">ชาย</option>
                                <option value="F">หญิง</option>
                            </select>
                            <p *ngIf="SEX_Validators == true">{{SEX_Validators_value}}</p>
                        </div>
                    </div>    
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FIRST_NAME">ชื่อตัวไทย</label>
                            <input type="text" name="FIRST_NAME" [(ngModel)]="userMo.FIRST_NAME"  autocomplete="off" class="form-control input-sm" onkeyup="isThaichar(this.value,this)" placeholder="ชื่อตัวไทย">
                            <p *ngIf="FIRST_NAME_Validators == true">{{FIRST_NAME_Validators_value}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">  
                        <div class="form-group">
                            <label for="LAST_NAME">ชื่อสกุลไทย</label>
                            <input type="text" name="LAST_NAME" [(ngModel)]="userMo.LAST_NAME" autocomplete="off" class="form-control input-sm" onkeyup="isThaichar(this.value,this)" placeholder="ชื่อสกุลไทย">
                            <p *ngIf="LAST_NAME_Validators == true">{{LAST_NAME_Validators_value}}</p>
                        </div>
                    </div>      
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="BLOOD">หมู่โลหิต</label>
                            <select name="BLOOD" [(ngModel)]="userMo.BLOOD" autocomplete="off" class="form-control input-sm">
                                <option value="" selected disabled>หมู่โลหิต</option>
                                <option value="1">เอ</option>
                                <option value="2">บี</option>
                                <option value="3">เอบี</option>
                                <option value="4">โอ</option>
                            </select>
                            <p *ngIf="BLOOD_Validators == true">{{BLOOD_Validators_value}}</p>
                        </div>
                    </div>
                    <!-- <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">วันเกิด</label>
                            <div class="input-group">
                                <input class="form-control input-sm" autocomplete="off" placeholder="dd/mm/yyyy" [(ngModel)]="userMo.BIRTH_DATE" id="BIRTH_DATE" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button" ></button>
                                </div>
                            </div>
                            <p *ngIf="BIRTH_DATE_Validators == true">{{BIRTH_DATE_Validators_value}}</p>
                        </div>
                    </div> -->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>วันเกิด</label>
                            <mat-form-field>
                                <input matInput [matDatepicker]="picker" placeholder="dd/m/yyyy" [(ngModel)]="userMo.BIRTH_DATE">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        <p *ngIf="BIRTH_DATE_Validators == true">{{BIRTH_DATE_Validators_value}}</p>
                    </div>
                </div>        
                <button type="button" (click)="postdata()" class="btn btn-primary" >บันทึก</button>
            <!-- </form> -->
        </div>
    </div>
    <div class="col-md-3">
    </div>
 
</div>
