<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center"> </h2>
      <br />
      <button class="btn btn-outline-info" (click)="addUser()">เพิ่มข้อมูล</button>
      <br />
      <br />
      <!-- <div class="bs-example">
        <form>
          <div class="row">
            <div class="col-sm-5">
              <div class="input-group">
                <span class="input-group-text">
                  เลขบัตรประชาชน
                </span>
                <input name="CITIZEN_ID" id="CITIZEN_ID" type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">เพศ</span>
                </div>
                <select name="SEX" formControlName="SEX"  class="form-control input-sm">
                            <option value="" selected disabled>เพศ</option>
                            <option value="M">ชาย</option>
                            <option value="F">หญิง</option>
                          </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">หมู่โลหิต</span>
                </div>
                <select name="BLOOD" formControlName="BLOOD" class="form-control input-sm">
                  <option value="" selected disabled>หมู่โลหิต</option>
                  <option value="1">เอ</option>
                  <option value="2">บี</option>
                  <option value="3">เอบี</option>
                  <option value="4">โอ</option>
                </select>
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group">
                <span class="input-group-text">
                  คำนำหน้า
                </span>
                <select name="TITLE" formControlName="TITLE" autocomplete="off" class="form-control input-sm">
                  <option value="" selected disabled>คำนำหน้าชื่อ</option>
                  <option value="1">นาย</option>
                  <option value="2">นาง</option>
                  <option value="3">นางสาว</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">ชื่อตัวไทย</span>
                </div>
                <input name="FIRST_NAME" id="FIRST_NAME" type="text" class="form-control">

              </div>
            </div>
            <div class="col-sm-5">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">ชื่อสกุลไทย</span>
                </div>
                <input name="LAST_NAME" id="LAST_NAME" type="text" class="form-control">
              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-text">
                  วันเกิด จาก
                </span>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <div class="input-group-append">
                  <span class="input-group-text">ถึง</span>
                </div>
                <input type="text" class="form-control">

              </div>
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-sm-4">
              <div class="input-group">
                <button onclick="myFunction1()" class="btn btn-outline-primary">ค้นหา</button>

              </div>
            </div>
            <div class="col-sm-4">
              <div class="input-group">
                <button type="reset" class="btn btn-outline-warning">ล้างข้อมูล</button>

              </div>
            </div>
          </div>
        </form>
      </div> -->
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label (keypress)="numberOnly($event) ">เลขบัตรประชาชน</label>
            <input type="text" onkeyup="searchid()" [(ngModel)]="userMo.CITIZEN_ID"  class="form-control input-sm"
            onkeyup="isNumberchar(this.value,this)"  placeholder="เลขบัตรประชาชน"  />
          </div>
          
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>เพศ</label>
            <ng-select [items]="SEX" bindLabel="name" bindValue="id" placeholder="เพศ"   [(ngModel)]="userMo.SEX"> </ng-select>
          </div>
        </div>
        <div class="col-md-4"> 
          <div class="form-group">
            <label>หมู่โลหิต</label>
            <ng-select [items]="BLOOD" bindLabel="name" bindValue="id"  placeholder="หมู่โลหิต"  [(ngModel)]="userMo.BLOOD"> </ng-select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>คำนำหน้าชื่อ</label>
            <ng-select [items]="TITLE" bindLabel="name" bindValue="id" placeholder="คำนำหน้าชื่อ" [(ngModel)]="userMo.TITLE"> </ng-select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>ชื่อตัวไทย</label>
            <input type="text" id="FIRST_NAME" onkeyup="searchid()" onkeyup="isThaichar(this.value,this)"
              class="form-control input-sm" placeholder="ชื่อตัวไทย"
              [(ngModel)]="userMo.FIRST_NAME" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>ชื่อสกุลไทย</label>
            <input type="text" id="LAST_NAME" onkeyup="searchlastname()" onkeyup="isThaichar(this.value,this)"
              class="form-control input-sm" placeholder="ชื่อสกุลไทย"
              [(ngModel)]="userMo.LAST_NAME" />
          </div>
        </div>
      </div>
      
      <div class="row">
          <div class="form-group hidden">
            <div class="input-group">
              <input name="datepicker"
                    [hidden]="true"
                    class="form-control"
                    ngbDatepicker
                    #datepicker="ngbDatepicker"
                    [autoClose]="'outside'"
                    (dateSelect)="onDateSelection($event)"
                    [displayMonths]="2"
                    [dayTemplate]="t"
                    outsideDays="hidden"
                    [startDate]="fromDate">
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                      [class.focused]="focused"
                      [class.range]="isRange(date)"
                      [class.faded]="isHovered(date) || isInside(date)"
                      (mouseenter)="hoveredDate = date"
                      (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
          <div class="col-md-4">
            <label>วันเกิด</label>
            <div class="input-group">
                <input #dpFromDate
                      class="form-control" [(ngModel)]="userMo.fromDate" placeholder="yyyy-mm-dd"
                      name="dpFromDate"
                      [value]="formatter.format(fromDate)"
                      (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
          
          <div class="col-md-4">
            <label>ถึง</label>
            <div class="input-group">
              
              <input #dpToDate
                      class="form-control"  [(ngModel)]="userMo.toDate" placeholder="yyyy-mm-dd"
                      name="dpToDate"
                      [value]="formatter.format(toDate)"
                      (input)="toDate = validateInput(toDate, dpToDate.value)">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datepicker.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        <!-- <hr/> -->
        <!-- <pre>From date model: {{ fromDate | json }}</pre>
        <pre>To date model: {{ toDate | json }}</pre> -->
        <!-- <pre>From date model: {{userMo.fromDate }}</pre>
        <pre>To date model: {{ userMo.toDate }}</pre> -->
      </div>
      <br />
        <div class="row">
          <div class="col-sm-4">
            <div class="input-group">
              <button type="submit" value="Submit" (click)="postdata()" class="btn btn-outline-primary">ค้นหา</button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group">
              <button type="submit" value="Submit" (click) = "clear()" class="btn btn-outline-info">ล้างข้อมูล</button>
            </div>
          </div>
        
          <div class="col-sm-4">
            <div class="input-group">
              <button type="submit" value="Submit" (click)="submitForm()" class="btn btn-outline-danger">ลบ</button>
            </div>
          </div>
        </div>
        <br />
        <table id="table" datatable [dtOptions]="dtOptions" class="table table-striped">
          <thead class="table-primary">
            <tr>
              <th>ลำดับ</th>
              <th></th>
              <th>เลขบัตรประชาชน</th>
              <th>คำนำหน้า</th>
              <th>ชื่อตัวไทย</th>
              <th>ชื่อสกุลไทย</th>
              <th>เพศ</th>
              <th>หมู่โลหิต</th>
              <th>วันเกิด</th>
              <th>รายละเอียด</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of userDat | filter:term ;let i = index" >
              <td>{{i+1}}</td>
              <td><input type="checkbox" [value]="user.id" (change)="onCheckboxChange($event)" /></td>
              <td>{{user.CITIZEN_ID}}</td>
              <td>
                <div [ngSwitch]="user.TITLE">
                  <p *ngSwitchCase=1>นาย</p>
                  <p *ngSwitchCase=2>นาง</p>
                  <p *ngSwitchCase=3>นางสาว</p>
                </div>
              </td>
              <td>{{user.FIRST_NAME}}</td>
              <td>{{user.LAST_NAME}}</td>
              <td>
                <p *ngIf="user.SEX=='M'">ชาย</p>
                <p *ngIf="user.SEX=='F'">หญิง</p>
              </td>
              <td>
                <div [ngSwitch]="user.BLOOD">
                  <p *ngSwitchCase=1>เอ</p>
                  <p *ngSwitchCase=2>บี</p>
                  <p *ngSwitchCase=3>เอบี</p>
                  <p *ngSwitchCase=4>โอ</p>
                </div>
              </td>
              <td>{{user.BIRTH_DATE|date:'dd/MM/yyyy'}}</td>
              <td>
                <button class="btn btn-outline-info" (click)="updateUser(user)"style="margin-left: 20px;">แก้ไข</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
